.liens{
    position: absolute;
    top: 2%;
    margin-left: 27%;
    color: black;
}
.liens ul li {
    display: inline-flex;
    justify-content:space-around;
    padding-right: 15px;
    padding-left: 15px;
    font-size: bold 44px;
    color: black;
    
 
}
a:hover{
    color: blue;
    text-decoration: none;
    font-size: bold;
    
 
}
.monimage{
    height: 33px;
    width: 33px;
}
.barr{
    height: 4px;
  width: 60px;
    background-color:black;
     position: absolute;
    top: 77%;
    
}
.kart1{
    display: flex;
}
.barres{
    background-color: brown;
    height: 700px;
    width: 23px;
    /* position: absolute;
    top: 0px; */
    /* margin-left: 0rem; */
}
.form1{
    /* en bas */
    background-color: brown;
    height: 67px;
    width: 350px;
    margin-bottom: 700%;
    margin-top: 210%;
    BORDER-RADIUS :50px;
    border: none;
}
.form3{
    /* milieu */
    background-color: brown;
    height: 67px;
    width: 250px;
    margin-top: 50%;
    margin-bottom: 300%;
    BORDER-RADIUS :50px;
    border: none;
}
.form2{
    /* en haut */
    background-color: brown;
    height: 67px;
    width:300px;
    margin-top: 100%;
   margin-bottom: 800%;
    BORDER-RADIUS :50px;
    border: none;
}
.ron{
    /* milieu */
    background-color: white;
    height: 69px;
    margin-right:99%;
    margin-left: -12px;
    width: 69px;
    margin-top: -50px;
    border: brown;
    BORDER-RADIUS :50%;

}
.ron1{
    /* milieu */
    background-color:brown;
    height: 69px;
    margin-right:99%;
    margin-left: -12px;
    width: 69px;
    margin-top: -50px;
    BORDER-RADIUS :50%;
    border-color: white;
    border: solid 1;

}
.icon{
    height: 456%;
    width: 2330%;
    margin-top: 57%;
}
.foot{
    height: 956%;
    width:auto;
   background-color: rgb(17, 16, 16);
}
.imgfond{
    height: 20rem;
   background-image: url("../mesimg/veille.png");
   color: black;
}
.in{
   display:flex;
}